body {
    padding: 0;
    margin: 200px;
}

#slider {
    width: 420px;
    height: 420px;
    border: 10px solid red;
}

#sliderRootSVG {
}

#sliderRootSVG circle {
    fill: none;
    stroke-width: 10px;
}

#sliderRootSVG circle.handle {
    fill: #fff;
}

#sliderRootSVG .dashed-circle {
    stroke-dasharray: 4, 1;
    stroke: #CFCFD0;
}

#sliderRootSVG  .top-slider {
    stroke-opacity: 0.7;
    transform: rotate(-90deg);
}